<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
    <h1>
      so u wanna tussle?
    </h1>
      <img src="{{imageLink}}" alt="pic">
      <form method="POST" action="/fightPlay">
        <input type = "hidden" name = "response" value = "hotdogs" />
        <input type = "hidden" name = "index" value = "{{imageIndex}}" />
        <button type="submit">hotdogs</button>
      </form>
      <form method="POST" action="/fightPlay">
        <input type = "hidden" name = "response" value = "hotdogs" />
        <input type = "hidden" name = "index" value = "{{imageIndex}}" />
        <button type="submit">legs</button>
      </form>
      Your Score is: {{score}}
  </body>
</html>