<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
            <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        
    <title></title>
  </head>
  <body>
      <div class="jumbotron">
          <div class="container text-center">
          <h1 class="display-4">Man/Woman VS. Machine</h1>
          <p class="lead"> 
              how'd you stack up?
          </p>
          </div>
      </div>
    <h1>
      the tussle has ended
    </h1>
    
    <div class="container">
      <div class="row">
        <div class="column text">
        
          Your final score was: <span class="badge badge-secondary">{{score}}/8</span>
          <br />
          Your time was: <span class="badge badge-secondary">{{time}} seconds</span>
          <br />
          The machines had score: <span class="badge badge-secondary">{{maAcc}}/8</span>
          <br />
          The machines time was: <span class="badge badge-secondary">{{maTime}} seconds</span>
        </div>
        
        <div class="column text-center">
          <h3>Leaderboard</h3>
          {%if score == 8%}
            <form method="POST" action="/leaderboard">
              <input type = "text" name = "name" value = "" />
              <input type = "hidden" name = "time" value = "{{time}}" />
              <button type="submit">submit your quick speed</button>
            </form>
          {%endif%}
          
          {{leaderboard.html()|safe}}
        </div>
        <div class="column text-center">
          <form method="GET" action="/">
            <button type="submit" class="btn btn-outline-secondary">Take Me Home Country Road</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>