<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <title></title>
  </head>
  <body>
      <div class="jumbotron">
          <div class="container text-center">
          <h1 class="display-4">Hot Dogs or Legs</h1>
          <p class="lead"> 
              Sara and Ezaan's CIS 192 Final Project
            </p>
          <img src = "/static/hd.png" style="width:122.5px;height:83.2px">
          <img src = "/static/leg.png" style="width:34.1px;height:68.7px">
          <img src = "/static/leg.png" style="width:34.1px;height:68.7px">
          <img src = "/static/hd.png" style="width:122.5px;height:83.2px">
          </div>
        </div>
    <h1> 
      nice hot dogs you got on those legs ;)
    </h1>
    How would you like to interact with our classifier?
    <a href="/fight" class="btn btn-primary btn-lg active" role="button">fight</a>
    <a href="/test" class="btn btn-primary btn-lg active" role="button">test</a>

  </body>
  
</html>